@charset "utf-8";

p a,p a:link{ text-decoration: underline;}
p a:hover{ text-decoration:underline;}
.sid-bnr,
.thumb-wide .img-wrap,
.thumb-wide .img-wrap img,
body *.btn,
.thumbTitleArea,
#globalNav > ul > li:hover .nav-hover,
.thumb{border-radius: 3px; overflow: hidden;	}
#newsInfo .newsList li{border-radius: 3px 0 0 0; overflow: hidden;	}
#newsInfo .newsList-btn{border-radius: 0 3px 0 0; overflow: hidden;	}
#subNav ul{border-radius: 0 0 0 3px; overflow: hidden;}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

wrap

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

.container-wide{width: calc(100% - 200px);max-width: 1400px;margin: 0 auto;}
.container{width: calc(100% - 200px);display: block;max-width: 1500px;margin: 0 auto;/* margin-bottom: 100px; */z-index: 1;}
.container:last-child{margin-bottom: 0;}
.section{padding: 100px 0;position: relative;}
.section > *:last-child{margin-bottom: 0;}
.section.gray-bg{padding-bottom: 100px;}
.section.gray-bg:last-child{padding-bottom: 100px;}

.wrap{margin-bottom: 50px;position: relative;}
.wrap:last-child{margin-bottom: 0;}
.wrap-L{margin-bottom: 100px;position: relative;}
.wrap-L:last-child{margin-bottom: 0;}
.wrap-topp{padding-top: 100px;}
.wrap-topp:last-child{}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1100px) {
	.container{width: calc(100% - 100px);}
	.section{padding: 50px 0;}
}

@media screen and (max-width: 900px) {
	.container{width: 88vw;}
	.wrap{margin-bottom: 30px;}
	.section{padding: 8vw 0;}
	.section.gray-bg:last-child{padding-bottom: 20vw;}
	.wrap-topp{padding-top:8vw;}
	.wrap-topp:first-child{padding-top: 0;}
	.wrap-L{margin-bottom: 10vw;}
}


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

コンテンツ

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
@media screen and (max-width: 900px) {
}

/* single or double ////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 900px) {

}

/* column ////////////////////////////////////////////////////////////////////////////////////////////*/
.column-flex{display: -webkit-flex!important; display: flex!important; -webkit-flex-wrap: wrap!important; flex-wrap: wrap!important; -webkit-box-pack: justify;	justify-content: space-between; }
.row-revers { flex-direction: row-reverse;}
.box-column1{width: 100%; max-width:700px; display: inline-block; }

.column-flex.box-column2 .box-column-size1{width: calc(50% - 50px);width: -ms-calc(50% - 50px);width: -webkit-calc(50% - 50px);}
.column-flex.box-column2.justify-start .box-column-size1{ margin-right: 100px;}
.column-flex.box-column2.justify-start .box-column-size1:nth-child(2n){ margin-right:0; }
.column-flex.box-column2 .box-column-size2{width: 100%; display: block;}

.column-flex.box-column3 .box-column-size1{width: calc(33.3333% - 66.66px);width: -webkit-calc(33.33% - 66.66px);}
.column-flex.box-column3 .box-column-size1:nth-child(3n){ margin-right:0; }
.column-flex.box-column3 .box-column-size2{width: calc(66.6666% - 33.33px); width: -webkit-calc(66.6666% - 33.3px) ;}
.column-flex.box-column3 .box-column-size2:last-child{margin-bottom: 0;}
.column-flex.box-column3.justify-start .box-column-size1{ margin-right: 100px;}
.column-flex.box-column3.justify-start .box-column-size1:nth-child(3n){ margin-right:0; }


.column-flex.box-column4 .box-column-size1{width: calc(25% - 75px);width: -webkit-calc(25% - 75px);margin-right: 100px;margin-bottom: 100px;}
.column-flex.box-column4 .box-column-size3{width: calc(75% - 25px);}
.column-flex.box-column4 .box-column-size1:nth-child(4n){margin-right:0;}
.column-flex.box-column4.justify-start .box-column-size1{ margin-right: 100px;}
.column-flex.box-column4.justify-start .box-column-size1:nth-child(4n){ margin-right:0; }
.column-flex.box-column4 .box-column-size1 > *:last-child{margin-bottom: 0;}

.column-flex.box-column5 .box-column-size1{width: calc(20% - 1.6px);width: -webkit-calc(20% - 1.6px);margin-right: 1px;margin-bottom: 1px;}
.column-flex.box-column5.justify-start .box-column-size1{ margin-right: 1px;}
.column-flex.box-column5 .box-column-size1:nth-child(5n){ margin-right:0; }
.column-flex.box-column5 .box-column-size1 > *:last-child{margin-bottom: 0;}

@media screen and (max-width: 900px) {
	.column-flex.box-column5 .box-column-size1{width: 100%; margin-right: 0;}
	
}


/*左から並ぶ場合*/
.justify-start {-webkit-box-pack: start; justify-content: start; }

@media screen and (max-width: 1700px){
.column-flex.box-column2 .box-column-size1{width: calc(50% - 25px);width: -ms-calc(50% - 25px);width: -webkit-calc(50% - 25px);}
.column-flex.box-column2.justify-start .box-column-size1{ margin-right: 50px;}
.column-flex.box-column3 .box-column-size1{  width: calc(33.3333% - 33.33px); width: -webkit-calc(33.3333% - 33.33px) ;}
.column-flex.box-column3.justify-start .box-column-size1{ margin-right: 50px;}
.column-flex.box-column4 .box-column-size1{width: calc(25% - 37.5px);width: -webkit-calc(25% - 37.5px);margin-right: 50px;margin-bottom: 50px;}
.column-flex.box-column4 .box-column-size3{width: 75% - 12.5px;}
.column-flex.box-column4 .box-column-size1:nth-child(4n){ margin-right:0; }
.column-flex.box-column4.justify-start .box-column-size1{ margin-right: 50px;}
}

@media screen and (max-width: 1500px){
.column-flex.box-column2 .box-column-size1{width: calc(50% - 25px);width: -ms-calc(50% - 25px);width: -webkit-calc(50% - 25px);}
.column-flex.box-column2.justify-start .box-column-size1{ margin-right: 50px;}
.column-flex.box-column3 .box-column-size1{  width: calc(33.3333% - 33.33px); width: -webkit-calc(33.3333% - 33.33px) ;}
.column-flex.box-column3.justify-start .box-column-size1{ margin-right: 50px;}
.column-flex.box-column4 .box-column-size1{ width: calc(25% - 37.5px); width: -webkit-calc(25% - 37.5px); }
.column-flex.box-column4 .box-column-size3{width: 75% - 12.5px;}
.column-flex.box-column4 .box-column-size1:nth-child(4n){ margin-right:0; }
.column-flex.box-column4.justify-start .box-column-size1{ margin-right: 50px;}
}

@media screen and (max-width: 1100px){
}
@media screen and (max-width: 900px) {
	.box-column1{width:auto; }
	.column-flex.box-column2 .box-column-size1,
	.column-flex.box-column3 .box-column-size1,
	.column-flex.box-column3 .box-column-size1:nth-child(3n),
	.column-flex.box-column3 .box-column-size2{width: 100%;margin: 0 auto 5vw;}
	
	.column-flex.box-column3 .box-column-size1:last-child{margin-bottom: 0;}
	.column-flex.box-column3.justify-start .box-column-size1{margin-bottom: 5vw;}
	
	
	.box-column-size1.text-wrap.pt20{ padding-top: 0!important;}
	
	.column-flex.box-column4 .box-column-size1,
	.column-flex.box-column4 .box-column-size2{width:100%;margin-bottom: 50px;}
	.column-flex.box-column4 .box-column-size3{ width: 100%;}
	.column-flex.box-column4.justify-start .box-column-size1{margin-bottom: 5vw;}
	.column-flex.box-column4.justify-start .box-column-size1:last-child{margin-bottom: 0;}
	
	.column-flex .box-column-size1,
	.column-flex .box-column-size2{margin-bottom: 0;}
	.column-flex .box-column-size1:last-child, .column-flex .box-column-size2:last-child{ margin-bottom: 0;}
	.column-flex.box-column2.justify-start .box-column-size1{ margin-right:0; }
	
	#container .column-flex.box-column2 figure.box-column-size1{width: calc(50% - 2px);width: -ms-calc(50% - 2px);width: -webkit-calc(50% - 2px); margin: 0;}
	#container .column-flex.box-column3 figure.box-column-size1{width: calc(33.3333% - 2.6666px);width: -webkit-calc(33.3333% - 2.6666px); margin: 0;}
	#container .column-flex.box-column4 figure.box-column-size1{width: calc(25% - 3px); width: -webkit-calc(25% - 3px);  }
}

.side-contents{}
.side-contents .box-column-size1{}
.side-contents .img-wrap{/* margin-bottom: 20px; */}
.side-contents .side-title{ margin-bottom: 20px; text-align: center;}

/* //////////////////////////////////////////////////////////////////////////////////////////

img

////////////////////////////////////////////////////////////////////////////////////////////*/
figure img{ width: 100%; height: auto;}
.img-wrap{ overflow: hidden;}

.img-wrap.centerP-w{position: relative;overflow: hidden;width: 100%;}
.img-wrap.centerP-w img{width: 100%; height: auto; position: absolute; left: 50%; top: 50%; transform: translateY(-50%) translateX(-50%); -webkit- transform: translateY(-50%) translateX(-50%);}
.img-wrap.centerP-h{ position: relative; overflow: hidden; width: 100%; }
.img-wrap.centerP-h img{width: auto; height:  100%; position: absolute; left: 50%; top: 50%; transform: translateY(-50%) translateX(-50%); -webkit- transform: translateY(-50%) translateX(-50%);}
.text-wrap *:last-child{ margin-bottom: 0;}


@media screen and (max-width: 900px) {
	figure.circle{ margin-bottom: 10px; width: 80%; padding-top: 80%; margin: 0 auto 10px;}
}

/*text*/
.text-wrap{ position: relative;}

/* box ////////////////////////////////////////////////////////////////////////////////////////////*/
.box{ background:#FFF; padding:40px; box-sizing:border-box; text-align: left; }
.box > *:last-child{ margin-bottom:0;}
@media screen and (max-width: 900px) {
}

.box-wrap{ display: block;}
.box-wrap .img-wrap{margin-bottom: 15px;}
.box-wrap .title2,
.box-wrap .title3,
.box-wrap .title4{margin-bottom: 15px;}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

基本要素

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* title ////////////////////////////////////////////////////////////////////////////////////////////*/
.title-section{font-family: "A1明朝"; font-size: 1.1rem; text-align: left; margin-bottom: 30px;}
.title1{line-height: 1.5em;font-size: 2rem;text-align: left;font-weight:  100;letter-spacing: 0.1em;font-family: "A1明朝";}
.title2{font-size: 1.3rem;line-height: 1.8em;letter-spacing: 0.1em;text-align: left;font-family: "A1明朝";}
.title3{font-size: 1.3rem;line-height: 1.8em;letter-spacing: 0.1em;text-align: left;font-family: "A1明朝";}
.title4{font-size: 1.1rem; letter-spacing: 0.1em; text-align: left; font-family: "A1明朝";}
.title5{font-size: 1rem; margin-bottom: 5px; text-align: left; font-family: "A1明朝";}
.title-section.t-center{margin-bottom: 50px;}

@media screen and (max-width: 1100px) {
.title-section{font-size: 1.1rem;}
.title1{font-size: 2rem; }
.title2{font-size: 1.3rem;}
.title3{font-size: 1.15rem;}
.title4{font-size: 1rem;}
.title5{font-size: 0.8rem;}
}

@media screen and (max-width: 900px) {
	.title-section{font-size: 0.85rem;margin-bottom: 10px;}
	.title1{ font-size: 1.3rem; }
	.title2{font-size: 1rem;}
	.title3{font-size: 1rem;}
	.title-section.t-center{margin-bottom: 30px;}
}
@media screen and (max-width: 600px) {
.title-section.t-center{margin-bottom: 5vw;}
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

btn

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*btn*/
.btn{display:inline-block;box-sizing:border-box; text-align: center;}
body *.btn{color: #fff; background: #006d80; border: 1px solid #006d80; line-height: 50px; width: 100%; max-width: 260px;font-family: "A1明朝"; }

body *.arr{font-family: "A1明朝";-ms-transition: all .3s;-webkit-transition: all .3s;transition: all .3s;padding-left: 30px;position: relative;font-size: 1rem; transition: 0.5s all ease;}
body *.arr::before{content:"";width: 20px;height: 10px; background: url(../img/arr_m.svg) no-repeat; background-size: 20px; position: absolute;left: 0;    top: 0.49em; transition: 0.25s all ease;}

body *.arr:hover::before,
body a:hover .arr::before{transform:translateX(3px); transition: 0.25s all ease;}

.btn-wrap{ display: block; overflow: hidden;}
.btn-wrap .btn{width: calc(50% - 10px); max-width: 250px; display: block; float: left; margin-right: 20px;}
.btn-wrap .btn:last-child{margin-right: 0;}

.markbtn{width: 104px; height: 82px; display: block; margin: 0 auto; position:relative;}
.markbtn .btn-mark{fill:none;stroke: #fff;position: absolute;left: 0;top: 0;}
.markbtn .btn-text{fill: #fff;width: 104px;height: 82px;display: block;margin: 0 auto;position:relative;}

.btn.minibtn{line-height: 1.8em;font-size: 0.8rem;width: auto;padding: 0 1em;display: inline-block;vertical-align: baseline;margin-left: 1em;text-decoration: none;position: relative; transition: 0.5s ease;}


@media screen and (min-width: 901px) {
	body *.btn:hover,
	body a:hover .btn{-ms-transition: all .3s;-webkit-transition: all .3s;transition: all .3s; background: #fff;color:#006d80;}
	.markbtn:hover .btn-mark{stroke:#006d80;}
	.markbtn:hover .btn-text{fill:#006d80;}
	.btn.minibtn:hover{background: none;border: 1px solid #005969;color: #005969!important;background: #fff; }
	body *.arr:hover,
	body a:hover .arr{color: #006d80; transition: 0.3 all ease;}
	
}

@media screen and (max-width: 900px) {
	.markbtn{width: 75px; height: 60px; display: block; margin: 0 auto; position:relative;}
	.markbtn .btn-text{width: 100%; height: auto;}
	body *.btn{line-height: 40px; max-width: 100%;}
	body *.arr{font-size: 0.9rem;}
}

@media screen and (max-width:600px) {
.btn-wrap .btn{width:100%; max-width: 350px; display: block; float: none; margin-right:0; margin-bottom: 2.5vw;}
.btn-wrap .btn:last-child{margin-right: 0;}
}

/*snsWrap///////////////////////////////////////////////////////////////////////////////////////////*/
.snsWrap{width: 40px;text-align: center;margin: 0 auto;display: block;position: absolute;right: 50px;top: 50%;transform: translateY(-50%) translateX(50%);z-index: 100;}
.snsWrap a.snsBtn{ width: 40px; height: 40px; display: block; margin-bottom: 10px; }
.snsWrap a.snsBtn:last-child{margin-bottom: 0;}
.snsWrap a.snsBtn svg{fill:#fff;}

@media screen and (max-width: 900px) {
	.modal .snsWrap{width: 30px;right: 5vw;transform: translateY(0) translateX(0);top: initial;bottom: 10	vw;}
	.snsWrap a.snsBtn{ width: 30px; height: 30px; display: block; margin-bottom:5px; }
}

#footer-wrapper .snsWrap{width: 200px;text-align: center;margin: 0 auto;position:relative;right:inherit;top:inherit;transform:none;z-index: 100; text-align: center; overflow: hidden; display: flex; justify-content: center; align-items: center; margin-top:50px;}
#footer-wrapper .snsWrap a.snsBtn{ margin-right: 20px;  margin-bottom: 0;}
#footer-wrapper .snsWrap a.snsBtn:last-child{margin-right: 0;}

@media screen and (max-width: 900px) {
	#footer-wrapper .snsWrap{width: 150px;}
}
/* ///////////////   外部リンク   ///////////////////////*/
/*
a[target="_blank"]:not(.btn):after { background: currentColor; box-shadow: 1px -1px currentColor; 
 content:''; width: .6em; height: .4em; display: inline-block; vertical-align: middle;  background-clip: content-box; padding: 2px 2px 0 0; box-sizing: border-box; margin-left:.3em; }
a[target="_blank"]:after { background: currentColor; box-shadow: 1px -1px currentColor; 
 content:''; width: .6em; height: .4em; display: inline-block; vertical-align: middle;  background-clip: content-box; padding: 2px 2px 0 0; box-sizing: border-box; margin-left:.3em; }*/
.snsWrap li a[target="_blank"]:not(.btn):after{ display: none;}

/* //////////////////////////////////////////////////////////////////////////////////////////

 list

 ////////////////////////////////////////////////////////////////////////////////////////////*/
/*ドット付きリスト*/
ul.list{border-top: 1px solid #ccc;}
ul.list > li {text-align: left;border-bottom: 1px solid #cccccc;padding: 20px 0 20px 20px;position: relative;}
ul.list > li:last-child{/* padding-bottom: 0; */margin-bottom: 0;}
ul.list > li::before{content: "";width: 6px;height: 6px;border-radius: 3px;position: absolute;left: 0;top: calc(20px + 0.75em);background: #006d80;}

/*定義リスト(横ならび)*/
dl.list-dl {display: -webkit-flex;display: flex;flex-flow:row wrap;border-top: 1px solid #ccc;}
dl.list-dl > * {  text-align: left; }
dl.list-dl > dt {width: 20%;padding: 20px 0; border-bottom: 1px solid #ccc;}
dl.list-dl > dd {width: 80%;padding: 20px 0; border-bottom: 1px solid #ccc;}

@media screen and (max-width: 900px) {
}

.no-line,.no-line *{border: none!important;padding: 0!important;}

@media screen and (max-width: 1100px) {
dl.list-dl > dt {width: 30%;padding: 1em 0; border-bottom: 1px solid #ccc;}
dl.list-dl > dd {width: 70%;padding: 1em 0; border-bottom: 1px solid #ccc;}
}


@media screen and (max-width: 900px) {
dl.list-dl > dt {width: 30%;padding: 1em 0; border-bottom: 1px solid #ccc;}
dl.list-dl > dd {width: 70%;padding: 1em 0; border-bottom: 1px solid #ccc;}
}

/*フロー*/

.list_flow { counter-reset: flownum; }
.list_flow li {display: block;position: relative;border: 1px solid #000;padding: 30px;text-align: left;}
.list_flow li:before { content:'0'counter(flownum)'.'; counter-increment: flownum; font-size: 0.8rem; font-family: "A1明朝"; letter-spacing: 0.3em;  }
.list_flow li::after{content: "";width: 30px;height: 10px;position: absolute;top: 50%;right: -62px;transform: translateY(-50%);display: block;background: url(../img/arr_l.svg) no-repeat center;background-size:contain;}
.list_flow li:last-child::after{display: none;}
.list_flow li .title3{margin-bottom: 25px;}
.list_flow .img-wrap.icon{text-align: center;margin-bottom: 25px;}
.list_flow .img-wrap.icon img{width: 40%;max-width: 200px;height: auto;display: block;margin: 0 auto;}

@media screen and (max-width: 1700px){
	.list_flow li::after{content: "";width: 20px;height: 10px;position: absolute;top: 50%;right: -36px;transform: translateY(-50%);display: block;background: url(../img/arr_m.svg) no-repeat center;background-size:contain;}
}

@media screen and (max-width: 1100px){
}

@media screen and (max-width: 900px) {
.list_flow li {padding: 15px;}
	.list_flow li .title3{margin-bottom: 15px;}
	.list_flow li::after{content: "";width: 20px;height: 10px;position: absolute;top:inherit;bottom: -36px;right:50%;transform: translateY(-50%) rotate(90deg);transform-origin: center;display: block;background: url(../img/arr_m.svg) no-repeat center;background-size:contain;}
}


/*////////////////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////////////*/

/**/
.pagination {text-align: center;position:relative;}
.pagination  a {width: 40px;height: 40px;margin: 0;display: inline-block;font-weight: 300;font-size: 1.2rem;line-height: 40px;text-align: center;background: #fff;}
.pagination  span.current {width: 40px;height: 40px;margin: 0;display: inline-block;font-weight: 300;font-size: 1.2rem;line-height: 40px;text-align: center;background: #006d80;color: #fff;/* border-radius:1em; */}

.pagination .page-numbers.next{position:absolute;right:0;top:0;width: 40px;height: 40px;font-size: 1rem;background: #fff; margin: 0;}
.pagination .page-numbers.prev{position:absolute;left:0;top:0;width: 40px;height: 40px;font-size: 1rem;background: #fff; margin: 0;}
.pagination .next svg,
.pagination .page-numbers.prev svg{top:0.6em;fill: #006d80;stroke: none;stroke-width: none;width: 8px;position: absolute;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);}
.pagination *{}
.pagination .page-numbers{margin: 0 1px;}

@media screen and (min-width: 901px) {
.pagination .page-numbers:hover{background: #006d80; color: #fff; transition: all 0.25s ease;}
.pagination .page-numbers:hover svg{fill:#fff; transition: all 0.25s ease;}
}
	
@media screen and (max-width: 900px) {
.pagination .next{}
.pagination .prev{}
.pagination span.current,
.pagination a{width: 30px;height: 30px; line-height: 30px; font-size: 1rem;}
.pagination .page-numbers.next{width: 30px;height: 30px;}
.pagination .page-numbers.prev{width: 30px;height: 30px;}
	
.pagination .next svg,
.pagination .prev svg{}
.pagination  a .arrow_l,
.pagination  a .arrow_r {  }
.pagination  a .arrow_l {  }
.pagination  a .arrow_r {  }
.pagination *{}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////

フォーム

///////////////////////////////////////////////////////////////////////////////////////////*/

input{padding: 20px;box-sizing: border-box;border: none;border-left: 1px solid #ccc;background: #eeeeee;width: 100%;height: 100%;font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;font-size: 1rem;font-weight: 100;}
.wideS{ width: 10em;}
.wideM{ width: 20em;}
.wideL{ width: 100%;}
select{padding: 5px 10px; box-sizing: border-box; border: 1px solid #fff;}
textarea{width: 100%;height: 100%;padding: 20px;box-sizing: border-box;border: none;border-left: 1px solid #ccc;background: #eee;font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;font-size: 1rem;font-weight: 100;}
textarea.wideL{ width: 100%;}
input[type=radio]{display: inline-block;width: auto;margin-right: 5px;height: 13px;}
label{ display: block;}

input.checkbox{ width: auto;}
select.wideM{ width: 20em;}
.submit{ padding: 5px 20px;  box-sizing: border-box; border: none; background: none; background: #094a81; color: #fff; position: relative;  line-height: 1em;}
.submit.submit-btn{background: #757575;width: 460px;font-size:1.5rem;text-align: center;padding: 20px 0;margin: 0 auto;display: block;}
dt.required{ position: relative;}
dt.required::before{content: "必須";color: #fff;width: 3em; background: #006d80; margin-right: 10px; text-align: center;font-size: 0.6rem;line-height: 1em;padding: 0.5em;}



@media screen and (max-width: 900px) {
	input{padding: 10px;border: none;}
	textarea{padding: 10px;}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////

tel


///////////////////////////////////////////////////////////////////////////////////////////*/
.tel svg{ fill:#000;}
.fax svg{ fill:#000;}
.telfaxWrap > *{max-width: 240px;height: auto;width: 100%;height: auto;margin-right: 20px;display: inline-block;margin-bottom: 50px;}
.telfaxWrap > *:last-child{margin-right: 0;}

.mailnum{display: block;line-height: 0;text-align: left;}
.mailnum img{max-width: 190px;width: 100%;}


@media screen and (max-width: 900px) {
	.telfaxWrap{margin-bottom: 10vw;}
.telfaxWrap > *{max-width: 200px; margin-right:0;display: inline-block;margin-bottom:15px;}
.telfaxWrap > *:last-child{margin-right: 0; margin-bottom: 0;}
.mailnum img{max-width: 12	0px;width: 100%;}
}


#mapArea {position: relative;padding-bottom: 62%;padding-top: 0;height: 0;overflow: hidden;margin-bottom: 30px;}
#mapArea iframe,
#mapArea object,
#mapArea embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/*////////////////////////////////////////////////////////////////////////////////////////////////

entryArea


///////////////////////////////////////////////////////////////////////////////////////////*/

.entryArea{ text-align: left; margin-bottom: 50px;}
.entryArea img{max-width: 100%; height: auto;}
.entryArea > *{margin-bottom: 50px;}

.entrydeta{display: block; overflow: hidden;}
.entrydeta .ymd{float: left;}
.entrydeta .cat{float: right; margin-left: 5px;}




