/*注释*/
p {
    background-color: rgb(128, 219, 133);
    border: 3px solid rgb(35, 117, 155);
    color: rgba(96, 80, 185, 0.596);
    }
h1, h2 {
    font-family: arial;
    color: rgb(204, 216, 43);
    border-bottom:1px solid rgb(92, 201, 59);
  }
h1{
    border-bottom: 2px solid rgb(202, 131, 131);
  }
em {
  font-family: "华文楷体"; /* 注意双引号这个细节，想想原因 */
  border-bottom:1px solid rgb(92, 201, 59);
}
h1 {
font-size: 10vw; 
}
body{
	color: royalblue;
	color: rgb(71,72,76);
	color: #4169E1CC;
	color: rgba(37, 55, 56, 0.24);
	color: #2775b6CC;
}