body {
  background-image: url(image/background-image1.jpg);
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.use2 a:link {
  color: white;
  text-decoration: none;
}
.use2 a:hover .zhongkuohao1 {
  opacity: 1;
  color: white;
}
.use2 a:hover .zhongkuohao2 {
  opacity: 1;
  color: white;
}
.use2 a:hover .zhongkuohao3 {
  opacity: 1;
  color: white;
}
.use2 a:hover .zhongkuohao4 {
  opacity: 1;
  color: white;
}
.use2 a:hover .zhongkuohao5 {
  opacity: 1;
  color: white;
}
.use2 a:hover .zhongkuohao6 {
  opacity: 1;
  color: white;
}
.use2 a:visited {
  color: white;
}
.bianlian {
  display: inline-block;
  background-color: #007cba;
  width: 300px;
  height: 100px;
  margin-top: 35px;
  margin-right: 100px;
}
.xialacaidan {
  position: absolute;
  left: -150px;
  top: 40px;
  /* display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  display: none;
  width: 1200px;
  height: 600px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}
.xialacaidan1 {
  display: none;
  position: absolute;
  left: -150px;
  top: 40px;
  width: 1200px;
  height: 250px;
  background-color: white;
}
.xialacaidan2 {
  display: none;
  position: absolute;
  left: -150px;
  top: 40px;
  width: 1200px;
  height: 120px;
  background-color: white;
}
.xialaxiaobiaoti3 {
  display: inline-block;
  font-size: 17px;
  color: black;
  margin-top: 40px;
  margin-left: 40px;
}
.xialacaidanzhongkuohao15 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialacaidanzhongkuohao16 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialaxiaobiaoti4 {
  display: inline-block;
  font-size: 17px;
  color: black;
  margin-top: 40px;
  margin-left: 300px;
}
.xialacaidanzhongkuohao17 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialacaidanzhongkuohao18 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialaxiaobiaoti1 {
  display: inline-block;
  font-size: 18px;
  color: black;
  margin-top: 40px;
  margin-left: 40px;
}
.xialacaidanzhongkuohao11 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialacaidanzhongkuohao12 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialalianjie23 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
.xialalianjie23 {
  display: inline-block;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 14px;
}
.xialalianjie24 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
.xialalianjie24 {
  display: inline-block;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 14px;
}
.xialaxiaobiaoti2 {
  float: right;
  /* display: inline-block; */
  font-size: 18px;
  color: black;
  margin-top: -70px;
  margin-right: 400px;
}
.xialacaidanzhongkuohao13 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialacaidanzhongkuohao14 {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
}
.xialalianjie25 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
.xialalianjie25 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -80px;
  margin-left: 14px;
  margin-right: 450px;
}
.xialalianjie26 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
.xialalianjie26 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -40px;
  margin-left: 14px;
  margin-right: 480px;
}
.xialalianjie27 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
}
.xialalianjie27 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: 0px;
  margin-left: 14px;
  margin-right: 480px;
}
.use2:hover .xialacaidan {
  display: block;
  overflow: hidden;
  position: fixed;
  left: 150px;
  top: 60px;
}
a:hover .xialalianjie1{
  color:#006ba1;
}
a:hover .xialalianjie2{
  color:#006ba1;
}
a:hover .xialalianjie3{
  color:#006ba1;
}
a:hover .xialalianjie4{
  color:#006ba1;
}
a:hover .xialalianjie5{
  color:#006ba1;
}
a:hover .xialalianjie6{
  color:#006ba1;
}
a:hover .xialalianjie7{
  color:#006ba1;
}
a:hover .xialalianjie8{
  color:#006ba1;
}
a:hover .xialalianjie9{
  color:#006ba1;
}
a:hover .xialalianjie10{
  color:#006ba1;
}
a:hover .xialalianjie11{
  color:#006ba1;
}
a:hover .xialalianjie12{
  color:#006ba1;
}
a:hover .xialalianjie13{
  color:#006ba1;
}
a:hover .xialalianjie14{
  color:#006ba1;
}
a:hover .xialalianjie15{
  color:#006ba1;
}
a:hover .xialalianjie16{
  color:#006ba1;
}
a:hover .xialalianjie17{
  color:#006ba1;
}
a:hover .xialalianjie18{
  color:#006ba1;
}
a:hover .xialalianjie19{
  color:#006ba1;
}
a:hover .xialalianjie20{
  color:#006ba1;
}
a:hover .xialalianjie21{
  color:#006ba1;
}
a:hover .xialalianjie22{
  color:#006ba1;
}
a:hover .xialalianjie23{
  color:#006ba1;
}
a:hover .xialalianjie24{
  color:#006ba1;
}
a:hover .xialalianjie25{
  color:#006ba1;
}
a:hover .xialalianjie26{
  color:#006ba1;
}
a:hover .xialalianjie27{
  color:#006ba1;
}

a:hover .xialalianjie1 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie2 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie3 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie4 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie5 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie6 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie7 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie8 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie9 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie10 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie11 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie12 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie13 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie14 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}

a:hover .xialalianjie15 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}

a:hover .xialalianjie16 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}

a:hover .xialalianjie17 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie18 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie19 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie20 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie21 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie22 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie23 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie24 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie25 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie26 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
a:hover .xialalianjie27 img {
  /* margin-left:1px; */
  transform: translatex(4px);
}
/* .xialacaidan a:hover {
  display:block;
} */
.use2:hover .xialacaidan1 {
  display: block;
  overflow: hidden;
  position: fixed;
  left: 150px;
  top: 60px;
}

.use2:hover .xialacaidan2 {
  display: block;
  overflow: hidden;
  position: fixed;
  left: 150px;
  top: 60px;
}

.xialacaidanxiaobiaoti1 {
  display: inline-block;
  font-size: 20px;
  color: black;
  margin-top: 22px;
  margin-left: 40px;
}
.xialatupian1 img {
  display: inline-block;
  width: 280px;
  height: 170px;
  margin-top: 12px;
  margin-left: 40px;
}
.xialalianjie1 img {
  display: inline-block;
  width: 25px;
  height: 15px;
  margin-left: 40px;
  margin-right: 10px;
  transition-duration: all 1s;
}
.xialalianjie1 {
  display: inline-block;
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
.xialatupian2 img {
  display: inline-block;
  width: 280px;
  height: 170px;
  margin-top: 12px;
  margin-left: 40px;
}
.xialalianjie2 img {
  display: inline-block;
  width: 25px;
  height: 15px;
  margin-left: 40px;
  margin-right: 10px;
  transition-duration: all 1s;
}
.xialalianjie2 {
  display: inline-block;
  color: black;
  font-size: 20px;
  margin-top: 10px;
}
.xialacaidanxiaobiaoti2 {
  display: inline-block;
  font-size: 20px;
  color: black;
  margin-top: 20px;
  margin-left: 40px;
}
.xialacaidanzhongkuohao1 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao2 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao3 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao4 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
/* .xialacaidanfankuai{
  display:inline-block;
  margin-left:100px;
  margin-top:40px;
} */
.xialacaidanfankuai1 {
  float: right;
  /* display: inline-block; */
  margin-right: 760px;
  margin-top: 70px;
}
.xialacaidanfankuai1 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi1 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai2 {
  float: right;
  /* display: inline-block; */
  margin-right: 745px;
  margin-top: 14px;
}
.xialacaidanfankuai2 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi2 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai3 {
  float: right;
  /* display: inline-block; */
  margin-right: 700px;
  margin-top: 14px;
}
.xialacaidanfankuai3 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi3 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai4 {
  float: right;
  /* display: inline-block; */
  margin-right: 685px;
  margin-top: 14px;
}
.xialacaidanfankuai4 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi4 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai5 {
  float: right;
  /* display: inline-block; */
  margin-right: 730px;
  margin-top: 14px;
}
.xialacaidanfankuai5 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi5 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai6 {
  float: right;
  /* display: inline-block; */
  margin-right: 745px;
  margin-top: 14px;
}
.xialacaidanfankuai6 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi6 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai7 {
  float: right;
  /* display: inline-block; */
  margin-right: 742px;
  margin-top: 14px;
}
.xialacaidanfankuai7 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi7 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai8 {
  float: right;
  /* display: inline-block; */
  margin-right: 760px;
  margin-top: 14px;
}
.xialacaidanfankuai8 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi8 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai9 {
  float: right;
  /* display: inline-block; */
  margin-right: 745px;
  margin-top: 14px;
}
.xialacaidanfankuai9 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi9 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanfankuai10 {
  float: right;
  /* display: inline-block; */
  margin-right: 700px;
  margin-top: 14px;
}
.xialacaidanfankuai10 img {
  display: inline-block;
  /* margin-left:250px; */
  margin-top: -1000px;
  width: 15px;
  height: 15px;
}
.xialacaidanjigezi10 {
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  color: black;
  font-size: 15px;
}
.xialacaidanxiaobiaoti3 {
  float: right;
  /* display: inline-block; */
  font-size: 20px;
  color: black;
  margin-top: 42.5px;
  margin-right: 670px;
}
.xialacaidanzhongkuohao5 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao6 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanxiaobiaoti4 {
  float: right;
  /* display: inline-block; */
  font-size: 20px;
  color: black;
  margin-top: -506px;
  margin-right: 350px;
}
.xialacaidanzhongkuohao7 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao8 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialalianjie3 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie3 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -450px;
  margin-right: 348px;
}
.xialalianjie4 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie4 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -410px;
  margin-right: 349px;
}
.xialalianjie5 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie5 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -370px;
  margin-right: 455px;
}
.xialalianjie6 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie6 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -330px;
  margin-right: 349px;
}
.xialalianjie7 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie7 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -290px;
  margin-right: 422px;
}
.xialalianjie8 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie8 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -250px;
  margin-right: 343px;
}
.xialalianjie9 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie9 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -210px;
  margin-right: 462px;
}
.xialalianjie10 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie10 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -170px;
  margin-right: 436.5px;
}
.xialalianjie11 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie11 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -130px;
  margin-right: 413px;
}
.xialalianjie12 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie12 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -90px;
  margin-right: 445px;
}
.xialacaidanxiaobiaoti5 {
  float: right;
  /* display: inline-block; */
  font-size: 20px;
  color: black;
  margin-top: -28px;
  margin-right: 350px;
}
.xialacaidanzhongkuohao9 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialacaidanzhongkuohao10 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.xialalianjie13 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie13 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -450px;
  margin-right: 180px;
}
.xialalianjie14 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie14 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -410px;
  margin-right: 170px;
}
.xialalianjie15 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie15 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -370px;
  margin-right: 125px;
}
.xialalianjie16 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie16 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -330px;
  margin-right: 180px;
}
.xialalianjie17 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie17 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -290px;
  margin-right: 138px;
}
.xialalianjie18 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie18 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -250px;
  margin-right: 117px;
}
.xialalianjie19 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie19 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -210px;
  margin-right: 180px;
}
.xialalianjie20 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie20 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -170px;
  margin-right: 170px;
}
.xialalianjie21 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie21 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -130px;
  margin-right: 104px;
}
.xialalianjie22 img {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-left: 40px;
  margin-right: 10px;
}
.xialalianjie22 {
  float: right;
  /* display: inline-block; */
  color: black;
  font-size: 15px;
  margin-top: -90px;
  margin-right: 100px;
}
.zhongkuohao1 {
  display: inline-block;
  opacity: 0;
}
.zhongkuohao2 {
  display: inline-block;
  opacity: 0;
}
.zhongkuohao3 {
  display: inline-block;
  opacity: 0;
}
.zhongkuohao4 {
  display: inline-block;
  opacity: 0;
}
.zhongkuohao5 {
  display: inline-block;
  opacity: 0;
}
.zhongkuohao6 {
  display: inline-block;
  opacity: 0;
}

/* .bianhuatupian1-1{
  float:right;
  height:1280px;
  width: 960px;
}
.bianhuatupian1-2{
  float:right;
  height:640px;
  width: 960px;
}
.bianhuatupian1-3{
  float:right;
  height:640px;
  width: 960px;;
}
.bianhuatupian2-1{
  float:right;
  height:1280px;
  width: 960px;
}
.bianhuatupian2-2{
  float:right;
  height:640px;
  width: 960px;
}
.bianhuatupian2-3{
  float:right;
  height:640px;
  width: 960px;;
}
.bianhuatupian3-1{
  float:right;
  height:1280px;
  width: 960px;
}
.bianhuatupian3-2{
  float:right;
  height:640px;
  width: 960px;
}
.bianhuatupian3-3{
  float:right;
  height:640px;
  width: 960px;;
} */
.box1 {
  /* display: inline; */
  float: left;
  /* position: relative;
  top: 0;
  left: 0; */
  width: 100px;
}
ul,
li {
  list-style-type: none;
}
.use1 {
  position: relative;
  left: 160px;
  display: inline;
  list-style-type: none;
  top: 10px;
}
.use2 {
  display: inline-block;
  font-size: 20px;
  color: white;
  margin: 25px;
}
.box2 {
  transition: all 1s;
  /* background-color:#007cba; */
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  /* width:100px;
  height:100px; */
}
.bianliantupian {
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 32px;
  width: 100px;
  height: 100px;
}
.box2 a:visited {
  color: white;
}
.box2:hover .bianliantupian {
  background-color: #006d80;
  transform: translate(10px);
}
.box2:hover .bianlian {
  display: block;
  right: -100px;
}
.box2 a:link {
  /* display: block;
  right: -100px; */
  text-decoration: none;
}
.box2 a:hover .bianlian-1 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-2 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-3 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-4 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-5 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-6 {
  transform: translatex(3px);
}
.box2 a:hover .bianlian-7 {
  transform: translatex(3px);
}
.bianlian {
  transition: all 1s;
  display: none;
  position: absolute;
  right: -320px;
  top: 65px;
  background-color: #006d80;
  height: 300px;
  width: 220px;
}
.bianlian1 {
  margin-top: 20px;
  margin-left: 120px;
}
.bianlian-1 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian2 {
  margin-top: 20px;
  margin-left: 120px;
}
.bianlian-2 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian3 {
  margin-top: 20px;
  margin-left: 120px;
}
.bianlian-3 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian4 {
  margin-top: 20px;
  margin-left: 120px;
}
.bianlian-4 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian5 {
  margin-top: 20px;
  margin-left: 130px;
}
.bianlian-5 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian6 {
  margin-top: 20px;
  margin-left: 20px;
}
.bianlian-6 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.bianlian7 {
  margin-top: 20px;
  margin-left: 90px;
}
.bianlian-7 {
  float: right;
  /* margin-top:20px; */
  margin-right: 20px;
}
.sangexiaotubiao1 {
  float: right;
  margin-right: 50px;
  margin-top: 200px;
}
.sangexiaotubiao2 {
  float: right;
  margin-right: -47px;
  margin-top: 240px;
}
.sangexiaotubiao3 {
  float: right;
  margin-top: 285px;
  margin-right: -40px;
}
.word1 {
  margin-left: 500px;
  margin-top: 100px;
}
.word1 img {
  height: 300px;
  width: 500px;
  transition: all 1s ease;
}
.word1 a:hover img {
  /* height:350px;
  width:550px; */
  transform: scale(1.2);
}
/* .word1 img{
  height:400px;
  width:500px;
} */
.word2 {
  display: inline;
  /* margin-top: 50px; */
  margin-left: 685px;
}
.word2-2 {
  display: inline;
  /* margin-top: 50px; */
}
.word2-1 {
  opacity: 0;
  display: inline-block;
  margin-top: -100px;
  margin-left: -141px;
}
.word2 a:hover .word2-1 {
  opacity: 1;
}
.box3 {
  position: relative;
  margin-top: 110px;
  /* border: 800px 400px; */
  /* background-color: white; */
  margin-left: 150px;
  margin-right: 350px;
  /* padding-bottom: 10px; */
}
/* .box4 {
  margin-left: 0px;
  width: 400px;
  height: 90px;
} */
.newsList-title1 {
  position: absolute;
  font-size: 20px;
  display: inline;
  left: 200px;
  top: 20px;
  /* text-align: left; */
  font-family: "A1明朝";
  /* margin:100px 100px; */
  /* line-height: 2em; */
  /* overflow:hidden; */
}
.newsList-title1-1 {
  position: absolute;
  font-size: 20px;
  display: inline;
  left: 200px;
  top: 50px;
}
.newsList-title2 {
  position: absolute;
  font-size: 20px;
  display: inline;
  left: 200px;
  top: 120px;
  /* text-align: left; */
  font-family: "A1明朝";
  /* margin:100px 100px; */
  /* line-height: 2em; */
  /* overflow:hidden; */
}
.newsList-title3 {
  position: absolute;
  font-size: 20px;
  display: inline;
  left: 200px;
  top: 220px;
  /* text-align: left; */
  font-family: "A1明朝";
  /* margin:100px 100px; */
  /* line-height: 2em; */
  /* overflow:hidden; */
}
.newsList-title4 {
  position: absolute;
  font-size: 20px;
  display: inline;
  left: 200px;
  top: 320px;
  /* text-align: left; */
  font-family: "A1明朝";
  /* margin:100px 100px; */
  /* line-height: 2em; */
  /* overflow:hidden; */
}
.picture01 {
  border: 130px 100px;
  width: 130px;
  height: 100px;
  /* display: inline; */
  transition: all 2s;
  overflow: hidden;
  padding-right: 0px;
}
.picture1-1 {
  width: 130px;
  height: 100px;
  border: 130px 100px;
  padding-right: 0px;
  overflow: hidden;
}
.picture02 {
  width: 130px;
  height: 100px;
  /* display: inline; */
  transition: all 2s;
}
.picture03 {
  width: 130px;
  height: 100px;
  /* display: inline; */
  transition: all 2s;
}
.picture04 {
  width: 130px;
  height: 100px;
  /* display: inline; */
  transition: all 2s;
  overflow: hidden；;
}
.use3 {
  width: 1000px;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
}
.use3 a:visited {
  color: black;
}
.use4 a:visited {
  color: black;
}
.use5 a:visited {
  color: black;
}
.use6 a:visited {
  color: black;
}
.use3 a:hover {
  color: #006ba1;
}
.use3 a:hover img {
  transform: scale(1.2);
  overflow: hidden;
}
.use4 a:hover {
  color: #006ba1;
}
.use4 a:hover img {
  transform: scale(1.2);
}
.use5 a:hover {
  color: #006ba1;
}
.use5 a:hover img {
  transform: scale(1.2);
}
.use6 a:hover {
  color: #006ba1;
}
.use6 a:hover img {
  transform: scale(1.2);
  overflow: hidden；;
}
.use4 {
  width: 1000px;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
}
.use5 {
  width: 1000px;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
}
.use6 {
  width: 1000px;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
}
/* h2{
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} */
.new {
  position: absolute;
  font-size: 20px;
  display: inline;
  top: 150px;
  left: 200px;
}
.kongyihang {
  width: 1px;
  height: 25px;
}
.box6 {
  float: left;
}
.box5 {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  height: 600px;
}
.box7 {
  margin-top: 100px;
  font-size: 45px;
  margin-left: 100px;
  border: 1px solid white;
  padding-bottom: 40px;
  font-family: "A1明朝";
}
.box8 {
  display: inline-block;
  padding: 20px 80px;
  border: 1px solid #006d80;
  background-color: #006d80;
  margin-left: 120px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}
.box8-1 a:hover .box8 {
  background-color: white;
  color: #006d80;
}
.a {
  font-size: 40px;
}

.a1 {
  font-size: 25px;
  border: 1px solid white;
  padding: 20px 50px;
  margin-left: 700px;
  padding-top: 60px;
}
.a1 a:link {
  color: black;
  text-decoration: none;
}
.a1 a:visited {
  color: black;
  text-decoration: none;
}
.a1 a:hover {
  color: #007cba;
}
a:hover .sangenghengxian1 {
  transform: translateX(10px);
  /* margin-right: 0.1px; */
  opacity: 1;
}
a:hover .sangenghengxian3 {
  transform: translateX(-2px);
  /* margin-left: 0.1px; */
  opacity: 1;
}
.a2 {
  font-size: 25px;
  border: 1px solid white;
  padding: 20px 50px;
  margin-left: 700px;
}
.a2 a:link {
  color: black;
  text-decoration: none;
}
.a2 a:visited {
  color: black;
  text-decoration: none;
}
.a2 a:hover {
  color: #007cba;
}
a:hover .sangenghengxian1-1 {
  /* margin-right:1px; */
  display: inline;
  opacity: 1;
  color: #007cba;
}
a:hover .sangenghengxian3-1 {
  /* margin-left:1px; */
  display: inline;
  opacity: 1;
  color: #007cba;
}
.a3 {
  font-size: 25px;
  border: 1px solid white;
  padding: 20px 50px;
  margin-left: 700px;
}
.a3 a:link {
  color: black;
  text-decoration: none;
}
.a3 a:visited {
  color: black;
  text-decoration: none;
}
.a3 a:hover {
  color: #007cba;
}
.a:hover .sangenghengxian1-2 {
  /* margin-right:1px; */
  display: inline;
  opacity: 1;
}
a:hover .sangenghengxian3-2 {
  /* margin-left:1px; */
  display: inline;
  opacity: 1;
}
.kongyihang1 {
  width: 1px;
  height: 15px;
}
.kongyihang2 {
  width: 1px;
  height: 15px;
}
.kongyihang3 {
  width: 1px;
  height: 15px;
}
.sangehengxian {
  display: inline;
  /* margin-top: -20px; */
  margin-left: 6px;
  margin-right: 10px;
}
.sangenghengxian1 {
  display: inline;
  /* margin-top: -20px; */
  margin-right: -20px;
  opacity: 0;
}
.sangenghengxian2 {
  display: inline;
  /* margin-top: -20px; */
  margin-left: 0px;
}
.sangenghengxian3 {
  display: inline;
  /* margin-top: -20px; */
  margin-left: -10px;
  opacity: 0;
}
.sangehengxian1 {
  display: inline-block;
  margin-top: -20px;
  margin-left: 6px;
  margin-right: 10px;
}
.sangenghengxian1-1 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-right: -20px;
  opacity: 0;
}
.sangenghengxian2-1 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-left: 0px;
}
.sangenghengxian3-1 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-left: -10px;
  opacity: 0;
}
.sangehengxian2 {
  display: inline-block;
  margin-top: -20px;
  margin-left: 6px;
  margin-right: 10px;
}
.sangenghengxian1-2 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-right: -20px;
  opacity: 0;
}
.sangenghengxian2-2 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-left: 0px;
}
.sangenghengxian3-2 {
  display: inline-block;
  /* margin-top: -20px; */
  margin-left: -10px;
  opacity: 0;
}
.num {
  margin-left: -10px;
  font-size: 20px;
}
.home-about-sub {
  font-size: 20px;
}
.font1 {
  margin-left: 47px;
}
.font2 {
  margin-left: 47px;
}
.font3 {
  margin-left: 47px;
}
.tupian1 {
  display: inline-block;
}
.tupian2 {
  display: inline-block;
}
.liangzhanglianjie {
  background-color: #dbdbdb;
}
.image1 {
  /* display: inline; */

  width: 600px;
  height: 350px;
  max-width: 600px;
  max-height: 350px;
  transition: all 3s;
  /* margin-left: 200px; */
}
.picture2-2 {
  border: 600px 350px;
  overflow: hidden;
}
.image2 {
  /* display: inline; */

  width: 600px;
  height: 350px;
  transition: all 3s;
  /* margin-right: 100px; */
}
.kaitou {
  margin-left: 690px;
  font-size: 20px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.kaitouzhongkuohao1 {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.kaitouzhongkuohao2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.tupian1 {
  margin-left: 140px;
}
.tupian1 a:link {
  text-decoration: none;
}
.tupian1 a:hover .lianjie1 {
  color: #007cba;
}
.tupian1 a:hover .image1 {
  transform: scale(1.1);
}
.tupian1 a:visited {
  color: black;
}
.tupian2 {
  margin-left: 40px;
}
.tupian2 a:link {
  text-decoration: none;
}
.tupian2 a:hover .lianjie2 {
  color: #007cba;
}
.tupian2 a:hover .image2 {
  transform: scale(1.1);
}
.tupian2 a:visited {
  color: black;
}
.xiaobiaoti {
  padding-top: 20px;
  font-size: 5px;
  margin-left: 220px;
  padding-bottom: 5px;
}
.wenzikongge {
  width: 2px;
  height: 7px;
}
.wenzibiaohua {
  margin-left: 20px;
}
.wenzibiaohua2 {
  margin-left: 10px;
}
.wenzi1 {
  padding-bottom: 20px;
  margin-left: 160px;
  font-size: 20px;
}
.wenzi2 {
  padding-bottom: 20px;
  margin-left: 170px;
  font-size: 20px;
}
.lianjie1 {
  background-color: white;
}
.lianjie2 {
  background-color: white;
}
.yidongtupian {
  /* display:inline-block; */
  float: right;
  width: 250px;
  height: 100px;
  background-color: #006d80;
  margin-right: 183px;
  margin-top: 110px;
  font-size: 16px;
  font-family: "A1明朝";
  transition: 2s;
  /* transition:all 1s; */
}
.yidongwenzi {
  margin: 35px 75px;
  color: white;
}
.yidongtupian a:link {
  text-decoration: none;
}
.yidongtupian1 a:hover .yidongtupian {
  transform: translateY(303px);
}
/* .fankuai{
  display:block;
} */
.fankuai a:link {
  text-decoration: none;
  color: black;
}
.fankuai a:visited {
  color: black;
}
.fankuai a:hover {
  color: #007cba;
}
.fankuai a:hover .fankuai1 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai2 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai3 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai4 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai4 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai5 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai6 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai7 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai8 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai9 img {
  transform: scale(1.1);
}
.fankuai a:hover .fankuai10 img {
  transform: scale(1.1);
}
.fankuai1 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai2 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai3 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai4 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai5 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai6 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai7 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai8 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai9 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.fankuai10 img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 15px;
  transition: all 0.6s;
}
.jigezi1 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi2 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi3 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi4 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi5 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi6 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi7 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi8 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi9 {
  margin-top: -25px;
  margin-left: 60px;
}
.jigezi10 {
  margin-top: -25px;
  margin-left: 60px;
}

.fankuai1 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 70px;
  margin-left: 140px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai2 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 70px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai3 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 70px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai4 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 70px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai5 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 70px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai6 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 1px;
  margin-left: 140px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai7 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 1px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai8 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 1px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai9 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 1px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.fankuai10 {
  border-radius: 5px;
  width: 244px;
  height: 60px;
  background-color: white;
  margin-top: 1px;
  margin-left: 1px;
  /* margin-right:2px; */
  margin-bottom: 2px;
  display: inline-block;
}
.image3 {
  display: inline-block;
  width: 600px;
  height: 350px;
  transition: all 3s;
}
.image4 {
  display: inline-block;
  width: 600px;
  height: 350px;
  transition: all 3s;
}
.tupian3 {
  display: inline-block;
  margin-left: 140px;
  margin-top: 100px;
}
.tupian3 a:link {
  text-decoration: none;
}
.tupian3 a:hover .lianjie3 {
  color: #007cba;
}
.tupian3 a:hover .image3 {
  transform: scale(1.1);
}
.tupian3 a:visited {
  color: black;
}
.tupian4 {
  display: inline-block;
  margin-left: 780px;
  margin-top: -426px;
}
.tupian4 {
  display: inline-block;
  margin-left: 140px;
  margin-top: 100px;
}
.tupian4 a:link {
  text-decoration: none;
}
.tupian4 a:hover .lianjie4 {
  color: #007cba;
}
.tupian4 a:hover .image4 {
  transform: scale(1.1);
}
.tupian4 a:visited {
  color: black;
}
.wenzi3 {
  display: inline-block;
  margin-left: 140px;
  font-size: 20px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}
.wenzi4 {
  display: inline-block;
  margin-left: 120px;
  font-size: 20px;
  padding-bottom: 20px;
}
.wenzibiaohua3 {
  margin-left: 60px;
}
.wenzibiaohua4 {
  margin-left: 65px;
}
.lianjie3 {
  background-color: white;
}
.lianjie4 {
  background-color: white;
}
.image5 {
  /* float:right; */
  /* position:absolute; */
  width: 800px;
  height: 600px;
  /* margin-left: 790px; */
  /* margin-top: 50px; */
  transition: all 2s;
  overflow: hidden;
  /* right:0px; */
  /* top:2800px;
  z-index: 1; */
}
.picture3-3 {
  overflow: hidden;
  margin-left: 780px;
  /* border:600px 800px; */
  width: 800px;
  height: 600px;
  /* margin-left: 100px; */
  margin-top: 50px;
}
.picture3-4 {
  overflow: hidden;
  /* border:600px 800px; */
  width: 800px;
  height: 600px;
  /* margin-left: 100px; */
  margin-top: 50px;
}
.image6 {
  overflow: hidden;
  /* margin-top: 70px; */
  width: 800px;
  height: 600px;
  transition: all 2s;
  /* position: absolute;
  top:3450px;
  z-index: 1; */
}
.datupian1-1 a:visited {
  color: black;
}
.datupian1-1 a:hover .yigeweizi3 {
  color: #007cba;
}
.datupian1-1 a:hover .picture1 {
  margin-left: 10px;
}
.datupian1-1 a:hover .image5 {
  transform: scale(1.1);
}
.datupian1 {
  position: absolute;
  top: 3250px;
  left: 180px;
  width: 630px;
  height: 300px;
  background-color: white;
  /* margin-top:350px;
  margin-left:200px;
  z-index: 11; */
}
.picture1 {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: 37px;
}
.picture2 {
  /* display:inline; */
  width: 20px;
  height: 10px;
  margin-top: 39px;
}
.datupian1-2 a:visited {
  color: black;
}
.datupian1-2 a:hover .yigeweizi6 {
  color: #007cba;
}
.datupian1-2 a:hover .picture2 {
  margin-left: 10px;
}
.datupian1-2 a:hover .image6 {
  transform: scale(1.1);
}
.datupian2 {
  position: absolute;
  top: 3490px;
  left: 60px;
  width: 650px;
  height: 300px;
  background-color: white;
  margin-top: 420px;
  margin-left: 700px;
  z-index: 11;
}
.yigeweizi1 {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}
.yigeweizi2 {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 50px;
}
.yigeweizi3 {
  float: right;
  /* display: inline-block; */
  margin-top: 30px;
  margin-right: 420px;
}
.yifeweizi1-1 {
  width: 1px;
  height: 10px;
}
.yigeweizi4 {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}
.yigeweizi5 {
  font-size: 17px;
  margin-top: 20px;
  margin-left: 50px;
}
.yigeweizi6 {
  float: right;
  margin-top: 30px;
  margin-right: 420px;
}
.word-1 {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 50px;
}
.yifeweizi1-1 {
  width: 1px;
  height: 10px;
}
.picture3 {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-top: 10px;
  transition: all 0.6s;
}
.dibu1 {
  width: 100px;
  height: 40px;
  margin-top: 150px;
  margin-left: 730px;
  font-size: 20px;
}
.dibu2 {
  margin-top: 20px;
  margin-left: 720px;
  padding-bottom: 100px;
}
.dibu2 a:visited {
  color: black;
}
.dibu2 a:hover {
  color: #007cba;
}
.dibu2 a:hover {
  margin-left: 10px;
}
.dibu2-1 {
  float: right;
  margin-right: 750px;
  margin-top: -17px;
}
.dibuzhongkuohao1 {
  display: inline-block;
  margin-right: 10px;
}
.dibuzhongkuohao2 {
  display: inline-block;
  margin-left: 10px;
}

.daoshudierbufen {
  background-image: url(image/结尾图.jpg);
  height: 1200;
  margin-top: -20px;
  margin-right: 0px;
}
.biaoti1 {
  font-size: 20px;
  color: white;
  margin-left: 685px;
  margin-top: 10px;
  padding-top: 70px;
}
.zuihouzhongkuohao1 {
  display: inline-block;
  margin-right: 10px;
}
.zuihouzhongkuohao2 {
  display: inline-block;
  margin-left: 10px;
}
.yizhangtupian img {
  margin-left: 605px;
  margin-top: 40px;
}
.yigeweile {
  margin-left: 670px;
  margin-top: 20px;
}
.tongtu1 {
  display: inline-block;
  opacity: 1;
}
.tongtu2 {
  display: inline-block;
  margin-left: -136px;
  opacity: 0;
}
/* .yigeweile a:hover .tongtu1 {
  display: none;
  opacity: 1;
  content: url(image/52.png);
} */
.yigeweile a:hover .tongtu2 {
  opacity: 1;
  /* transform: scale(1.2); */
}

.yiduanwenzi {
  color: white;
  margin-left: 570px;
  margin-top: 10px;
  font-size: 40px;
}
.b a:hover .yigelianjie {
  background-color: white;
  color: #007cba;
}

.dianhua {
  color: white;
  margin-left: 615px;
  margin-top: 40px;
  font-size: 30px;
}
/* .yigelianjie1{
  display:inline-block;
  margin-left:140px;
} */
.yigelianjie {
  display: inline-block;
  margin-top: 30px;
  padding-top: 25px;
  padding-left: 150px;
  margin-left: 530px;
  /* padding: 10px 150px; */
  color: white;
  font-size: 20px;
  border: 1px solid white;
  width: 300px;
  height: 60px;
  border-radius: 5px;
}
.yichuanwenzi1 {
  display: inline-block;
  margin-left: 600px;
  margin-top: 40px;
  color: white;
}
.yichuanwenzi2 {
  display: inline-block;
  margin-left: 680px;
  margin-top: 10px;
  color: white;
}
.yichuanwenzi3 {
  display: inline-block;
  margin-left: 690px;
  margin-top: 10px;
  color: white;
}
.yigemapanniu {
  float: right;
  margin-right: 550px;
  margin-top: 35px;
  /* display: inline-block; */
  color: white;
  border: 1px solid rgb(0, 109, 128);
  padding: 10px 15px 5px 15px;
  background-color: rgb(0, 109, 128);
  border-radius: 15px;
}
.c a:hover .yigemapanniu {
  color: rgb(0, 109, 128);
  background-color: white;
}
.sanzhangtupian1 {
  display: inline-block;
  position: absolute;
  top: 5690px;
  left: 680px;
}
.sanzhangtupian2 {
  display: inline-block;
  position: absolute;
  top: 5685px;
  left: 740px;
}
.sanzhangtupian3 {
  display: inline-block;
  position: absolute;
  top: 5688px;
  left: 800px;
}
.yidongchongdietupian1 {
  margin-top: 175px;
  margin-left: 750px;
}
.yidongchongdietupian2 {
  margin-top: -40px;
  margin-left: 750px;
}
a:hover .yidongchongdietupian1 {
  transform: translateY(-10px);
}

.zuihouyiduan1 img {
  width: 230px;
  height: 200px;
  margin-top: 40px;
  margin-left: 645px;
}
.zuihouyiduan2 {
  padding-bottom: 60px;
  margin-top: 40px;
  margin-left: 550px;
  font-size: 20px;
}
.shuwenzi1 {
  font-size: 30px;
  width: 1.5px;
  color: white;
  display: inline-block;
  margin-left: 640px;
  margin-top: -30px;
  border-right: 4px solid white;
  padding-right: 60px;
}
.shuwenzi2 {
  font-size: 28px;
  width: 1.5px;
  color: white;
  display: inline-block;
  margin-left: 20px;
}
.shuwenzi3 {
  font-size: 30px;
  width: 1.5px;
  color: white;
  display: inline-block;
  margin-left: 50px;
  margin-top: -30px;
  border-left: 4px solid white;
  padding-left: 20px;
}
.shuwenzi {
  margin-top: 50px;
}
.zuihouyiduan {
  background-color: white;
}
.dianhua a:link {
  text-decoration-line: none;
}
.dianhua a:visited {
  color: white;
}