.note{
  color: red;
}
h1,h2{
  font-weight: 600;
}

h1{
  font-weight: 200;
}

green-font{
color:green;
}
red-ront{
color: red;
}
blue-font{
color: blue;
}

p{
  color: white;
}
p .cname{
  color: blue;
}
p #iname{
  color: lawngreen;
}